[Unit]
Description=Get the perspective of Watcher of your Screen-Time

[Service]
ExecStart=/bin/python /usr/share/Watcher/log_files.py
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
