[Unit]
Description=Get the perspective from Watcher about your Screen-Time

[Service]
ExecStart=/bin/python /usr/share/Watcher/watch_log.py
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
