.hero-section {
  display: flex;
  padding: 0rem 8rem;
  align-items: center;
  height: 25rem;
  margin: auto;
  width: 80%;
  max-width: 1400px;
}
.hero-section *:not(.glowy-screen) {
  z-index: 20;
}

.glowy-screen {
  z-index: -100;
  position: relative;
  transform: translateY(58px);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  box-sizing: border-box;
  position: absolute;
  width: 397px;
  height: 366px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.32) 0%, rgba(0, 178, 255, 0.32) 54.79%, rgba(43, 224, 105, 0.32) 100%);
  border: 1px solid #000000;
  filter: blur(108px);
}

.text h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 0rem;
}

.text h1 {
  font-weight: 700;
  font-size: 32px;
  margin: 0rem;
}

.text p {
  color: #9F9F9F;
  font-weight: 400;
  font-size: 16px;
  width: 559px;
  margin-bottom: 3rem;
}

.primary-btn:hover .next-arrow {
  left: 10px;
}

.next-arrow {
  position: relative;
  left: 2px;
  transition: 0.5s;
}
