@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600&display=swap');
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 2rem;
    z-index: 100;
    position: relative;
}
header a {
  color: white;
  text-decoration: none;
}

.branding {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.star-count {
  border-left: solid 2px #5C5C5C;
  padding-left: 0.8rem;
}

.secondary-btn:hover .star-count{
  border-left: solid 2px #3F3F3F;
}

.branding .text {
  font-size: 2.8rem;
  font-weight: 600;
}

.branding .text:hover .arrow {
  transform: translate(3px, -3px)
}

header .arrow {
  height: 15px;
  position: relative;
  top: -32px;
  left: 5px;
  transition: 0.2s;
}

