/* Style for the button */
.accordion {
  margin-bottom: 4rem;
  transition: 2s;
}

.rotate {
  transform: rotatex(180deg);
  transition: transform 0.2s ease-in-out;
}
.unrotate {
  transform: rotatex(0deg);
  transition: transform 0.2s ease-in-out;
}

.accordion button {
  display: flex;
  justify-content: space-between;
  background-color: #292929;
  font-family: 'Poppins';
  color: #BDBDBD;
  cursor: pointer;
  padding: 1.5rem 3rem ;
  width: 100%;
  border: none;
  border-radius: 4px;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-weight: 600;
  font-size: 24px;
}

.content {
  font-weight: 500;
  font-size: 20px;
  background-color: #292929;
  padding: 2rem 3rem ;
  padding-top: 0rem;
  color: gray;
}
/* .accordion:focus .content, .accordion:active .content { */
/*   transform: scaleY(2); */
/* } */
